<!DOCTYPE html>

<htmL>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Karan gupta. It uses dat from mapbox.com and weather stack api</p>
        <img class="portrait" src="/img/batman.jpg">
    </div>


    {{>footer}}
</body>

</htmL>